body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #be62a6;
}

nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #f0e227;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  text-align: center;
  color: rgb(241, 241, 14);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slide 50s alternate-reverse;
}

.slide {
  width: 33.3333%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin: 0 0 20px;
}

.hero p {
  font-size: 24px;
  margin: 0 0 30px;
}

.hero .btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.hero .btn:hover {
  background-color: #0056b3;
}

.profile {
  text-align: center;
  margin: 20px 0;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#about,
#projects,
#skills,
#contact {
  padding: 50px 20px;
  text-align: center;
}

.about-content,
.project-container,
.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.about-content .text,
.about-content .image {
  width: 45%;
  box-shadow: hsl(90, 79%, 50%);
}

.about-content .image img {
  width: 100%;
  max-height: 50;
}
.about-content .text {
  text-align: justify;
}

.project {
  background-color: white;
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(50px);
}

.project img {
  width: 100%;
  border-radius: 10px;
}

.skills-container .skill {
  text-align: center;
  transition: transform 0.5s ease;
}

.skills-container .skill img {
  width: 50px;
  height: 50px;
}

.contact-icons a {
  margin: 0 15px;
}

.contact-icons img {
  width: 30px;
  height: 30px;
}

.fade-up {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.zoom-in {
  transform: scale(1.1) !important;
}
